body {
  margin: 0;
  padding: 0;
  padding-top: 90px;
  font-family: sans-serif;
}

.table-heading {
  margin-bottom: 0;
}

.table-body {
  table-layout: fixed;
  max-height: 450px;
  max-height: 50vh;
  overflow-y: scroll;
  overflow-y: overlay;
}
